.calContainer {
  border: 1px solid #2d2d2d;
  /* // height:100vh;
    // width:100%;
    // max-width: 30rem; */
  margin: 0 auto;
  height: 100vh;
}
.display {
  width: 100%;
  height:100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  
}
.ans {
  text-align: left;
  height: 100%;
  border: none;
  background-color: #f2913e;
  color: #fff;
  font-size: 2rem;
  padding-left: 3rem;
}
.val {
  height: 100%;
  background-color: #858694;
  color: #fff;
  text-align: right;
  border: none;
  font-size: 3.5rem;
  padding-right: 3rem;
}

.ButtonContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height:80vh;
  grid-template-rows: auto;
}
.btn {
  background-color: #e0e0e0;
  border: none;
  outline: 1px solid #000;
  font-size: 3rem;
  font-weight: 500;
  height: 100%;
  width: 100%;
}

.aret {
  background-color: #f2913e;
  color: #fff;
}
.big {
  grid-column: span 2;
}
